<html>
<head>
<style>
 html {
    background: url("/content/nature.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
</style>
</head>
<body>
    <h1 style='color: red;'>Greet: <%= message %></h1>
</body>
</html>